/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";


/*------------------------------------*\
    MIXINS
\*------------------------------------*/

//@import "mixins/mixin-name"; // Add a line for each mixin


/*------------------------------------*\
    HELPERS
\*------------------------------------*/

@import "helpers/z-index"; 
@import "helpers/flex-wrapper"; 


/*------------------------------------*\
    ADD SOME GLOBAL STYLES
\*------------------------------------*/
html {
	width: 100%;
	height: 100%;
	font-size: $base-font-size;
}

body {
	font-family: $base-font-family;
	min-width: $site-min-width;
	min-height: 100%;

	@include font-size($base-font-size, true);
}

img {
	display: block;
	max-width: 100%;
}

.clear {
	
	&:after,
	&:before {
		content: "";
		clear: both;
		display: block;
	}
}

.is-hidden {
	display: none;
}

.is-visible {
	display: block !important;
}

.is-muted {
	opacity: 0.5;
}

.is-hidden--text {
	position: absolute !important;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.is-hidden--palm {
	@include media-query("palm") {
		display: none !important;
	}
}

.no-print {
	@include print() {
		display: none;
	}
}


/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

@import "components/icon";


/*------------------------------------*\
    LAYOUTS
\*------------------------------------*/

@import "layouts/site-head"; 
@import "layouts/site-foot"; 

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

//@import "animations/animation-name"; // Add a line for animation


// Import the shame
@import "shame";