/*------------------------------------*\
    GENERIC
\*------------------------------------*/
$gutter: 20px;
$gutter--mini: ($gutter / 2);
$gutter--midi: ($gutter  + ($gutter / 2));
$gutter--double: ($gutter * 2);
$gutter--treble: ($gutter * 3);
$site-max-width: 1000px;
$site-min-width: (320px - $gutter--double);
$radius: 4px;
$radius--mini: ($radius / 2);
$radius--midi: ($radius  + ($radius / 2));
$radius--double: ($radius * 2);
$radius--treble: ($radius * 3);
$rhythm: 14px;
$rhythm--mini: ($rhythm / 2);
$rhythm--double: ($rhythm * 2);
$rhythm--treble: ($rhythm * 3);

/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/
$breakpoint--palm: "(max-width: 683px)";
$breakpoint--portable: "(max-width: 999px)";
$breakpoint--portable-and-up: "(min-width: 400px)";
$breakpoint--lap: "(min-width: 684px) and (max-width: 999px)";
$breakpoint--lap-and-up: "(min-width: 684px)";
$breakpoint--desk: "(min-width: 1000px)";
$breakpoint--desk--wide: "(min-width: 1300px)";

/*------------------------------------*\
    SIZE SETTINGS
\*------------------------------------*/

// Determine which breakpoints are available for the size component
// Leave a blank item to generate a breakpoint free set too
// Breakpoints must match those set above ^^
$size--available-breakpoints: "", "portable", "lap-and-up", "desk";