/*------------------------------------*\
    FONT-FACE DECLARATIONS
\*------------------------------------*/

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height-ratio: 1.7;
$base-font-family: Helvetica, Arial, sans-serif;
