/*------------------------------------*\
    BUTTON
    
    Some useful base button styles.   
\*------------------------------------*/
@mixin button() {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;

	@include hover(true) {
		outline: none;
	}
}