/*------------------------------------*\
    ELLIPSIS
    
    Especially useful for when you want text to truncate 
    gracefully in single line inline / inline-block elements  
\*------------------------------------*/
@mixin ellipsis() {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}