/*------------------------------------*\
    SELECTION
    
    A useful little mixin for styling text selection.   
\*------------------------------------*/
@mixin selection($background, $color) {

	::-moz-selection { 
		background: $background; 
		color: $color;
	}
	
	::selection { 
		background: $background; 
		color: $color;
	}
}