@mixin ellipsis-multiline($font-size: $base-font-size, $line-height: $base-line-height-ratio, $lines-to-show: 3, $background: $white) {

	display: block;
	max-height: ($font-size * $line-height * $lines-to-show); /* Fallback for non-webkit */
	width: 100%;
	overflow: hidden;
	position: relative;

	&.is-overflow {
		&:after {
			content: "...";
			background: $background;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
