{% include "layout-partials/doctype.html" %}
{% include "layout-partials/head.html" %}

{% macro icon(id) %}
    <svg class="icon" aria-hidden="true" role="presentation"> 
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/svg-symbols.svg#{{ id }}"></use> 
    </svg>
{% endmacro %}

<body>

    {% include "partials/site-head.html" %}
    
    {% block content %}
    {% endblock %}

    {% include "partials/site-foot.html" %}

    {% include "layout-partials/scripts.html" %}
    
</body>
</html>
