.wrapper {

    @include mode("global") {

        min-width: $site-min-width;
        max-width: $site-max-width;
        margin: 0 auto;
        position: relative;

        // Only add padding if not flush
        &:not([class*="wrapper--flush"]) {
            padding: 0 $gutter;
        }

        // Extra padding at lap and up to make it narrow
        &--narrow {

            @include media-query("lap-and-up") {

                // Still check this element hasn't got the flush modifier
                &:not([class*="wrapper--flush"]) {
                    padding: 0 $gutter--treble;
                }
            }
        }
    }
}
