<!DOCTYPE html>
<!--[if IE 9]><html dir="ltr" lang="en-GB" class="ie9 lt-ie10"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="en-GB"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>{% block title %}Front End Templates{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="/css/global.css" media="all" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
</head>
<body>
    {% include "partials/site-head.html" %}
    
    {% block content %}
    {% endblock %}

    {% include "partials/site-foot.html" %}

    <script src="/scripts/lib.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>