/*------------------------------------*\
    MODE TEMPLATE


    This template can be used to create a new 
    mode. It builds the core framework and gives 
    access to all imports such as components.
\*------------------------------------*/


/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";

/*------------------------------------*\
    DECLARATIONS
\*------------------------------------*/
$output-mode: "ADD_MODE_NAME_HERE (usually filename)";

/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
@import "imports/mixins";
@import "imports/helpers"; 
@import "imports/components";
@import "imports/layouts";
@import "imports/third-party";